/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/02/2016, 8:12:18
    Author     : jlgranda
*/

.ui-spinner .ui-spinner-input {
    padding: 9px 10px !important
}

.ToolbarButton {
    background-color: #F5F5F5;
    color: #A9A9A9;
    font-weight: 500;
    border: 1px solid lightgray;
}

.ToolbarButton.ui-state-hover,
.ToolbarButton.ui-state-focus {
    background-color: #F5F5F5;
}

.ToolbarButton:hover {
    background-color: #F5F5F5;
    color: #000000;
    font-weight: 500;
    border: 1px solid lightgray;
}


.ui-accordion-header {
    border-radius: 0px;
    font-size: 16px !important;
    color: #828B9C;
    background-color: #E0E0E0;
    padding: 13px 5px 13px 30px !important;
    margin-bottom: 1px !important;
    font-weight: normal !important;
    font-family: "robotolight";
}

.ui-accordion .ui-accordion-header.ui-state-hover, .ui-accordion .ui-accordion-header.ui-state-active {
    background-color: #E0E0E0;
    color: #828B9C;
}

.ui-accordion .ui-tabs-outline {
    outline: medium none !important;
    background-color: #E0E0E0;
    color: #828B9C;
}

.ui-accordion .ui-accordion-header {
    cursor: pointer;
    position: relative;
    margin-top: 1px;
    min-height: 16px;
    padding: 0.5em 0.5em 0.5em 2.2em;
}


/**Icons*/
.flaticon-cafe {
    background-color: transparent;
    background-image: url('/appsventas-web/resources/images/flaticon/png/food-1.png') !important;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0px 0px;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}

.flaticon-cafe-grande {
    background-color: transparent;
    background-image: url('/appsventas-web/resources/images/flaticon/png/hot-coffee-rounded-cup-on-a-plate-from-side-view.png') !important;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0px 0px;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}

.flaticon-capuchino {
    background-color: transparent;
    background-image: url('/appsventas-web/resources/images/flaticon/png/coffee-with-cream.png') !important;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0px 0px;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}

.flaticon-cake {
    background-color: transparent;
    background-image: url('/appsventas-web/resources/images/flaticon/png/birthday-cake-piece.png') !important;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0px 0px;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}
.flaticon-cup {
    background-color: transparent;
    background-image: url('/appsventas-web/resources/images/flaticon/png/cup.png') !important;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0px 0px;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}
.flaticon-chocolate {
    background-color: transparent;
    background-image: url('/appsventas-web/resources/images/flaticon/png/mug.png') !important;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0px 0px;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}
.flaticon-pizza {
    background-color: transparent;
    background-image: url('/appsventas-web/resources/images/flaticon/png/food.png') !important;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0px 0px;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}
.flaticon-pasty {
    background-color: transparent;
    background-image: url('/appsventas-web/resources/images/flaticon/png/cheese.png') !important;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0px 0px;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}
.flaticon-pasty-cebolla {
    background-color: transparent;
    background-image: url('/appsventas-web/resources/images/flaticon/png/food-6.png') !important;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0px 0px;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}
.flaticon-colada {
    background-color: transparent;
    background-image: url('/appsventas-web/resources/images/flaticon/png/drink.png') !important;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0px 0px;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}
.flaticon-aromatica {
    background-color: transparent;
    background-image: url('/appsventas-web/resources/images/flaticon/png/food-4.png') !important;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0px 0px;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}
.flaticon-empanada-cafe{
    background-color: transparent;
    background-image: url('/appsventas-web/resources/images/flaticon/png/pasty.png') !important;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0px 0px;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}
.flaticon-empanada-chocolate {
    background-color: transparent;
    background-image: url('/appsventas-web/resources/images/flaticon/png/coffee.png') !important;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0px 0px;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}
.flaticon-pizza-cafe{
    background-color: transparent;
    background-image: url('/appsventas-web/resources/images/flaticon/png/pizza.png') !important;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0px 0px;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}
.flaticon-pizza-chocolate {
    background-color: transparent;
    background-image: url('/appsventas-web/resources/images/flaticon/png/pizza-with-mushrooms.png') !important;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0px 0px;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}
.flaticon-deditos {
    background-color: transparent;
    background-image: url('/appsventas-web/resources/images/flaticon/png/food-7.png') !important;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0px 0px;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}

.flaticon-horchata {
    background-color: transparent;
    background-image: url('/appsventas-web/resources/images/flaticon/png/drink-4.png') !important;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0px 0px;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}


.flaticon-chocolate-para-llevar {
    background-color: transparent;
    background-image: url('/appsventas-web/resources/images/flaticon/png/coffee-cup.png') !important;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0px 0px;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}

.flaticon-jugo-frutas {
    background-color: transparent;
    background-image: url('/appsventas-web/resources/images/flaticon/png/fruit.png') !important;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0px 0px;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}

.flaticon-empanada-verde {
    background-color: transparent;
    background-image: url('/appsventas-web/resources/images/flaticon/png/food-5.png') !important;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0px 0px;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}

.flaticon-cafe-molido {
    background-color: transparent;
    background-image: url('/appsventas-web/resources/images/flaticon/png/food-9.png') !important;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0px 0px;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}

.flaticon-waricha {
    background-color: transparent;
    background-image: url('/appsventas-web/resources/images/flaticon/png/drink-1.png') !important;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0px 0px;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}

.flaticon-tamal {
    background-color: transparent;
    background-image: url('/appsventas-web/resources/images/flaticon/png/tamales.png') !important;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0px 0px;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}

.flaticon-humitas {
    background-color: transparent;
    background-image: url('/appsventas-web/resources/images/flaticon/png/maize.png') !important;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0px 0px;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}